<a href="https://colab.research.google.com/github/Nurulmirdawati/pbo2/blob/main/tugas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Kelas Pertama: Mahasiwa**

In [11]:
class Mahasiswa:
    def __init__(self, nama, nim):
        self.nama = nama
        self.nim = nim

    def cetak_krs(self):
        print(f"Mahasiswa {self.nama} dengan NIM {self.nim} telah mencetak KRS.")

## Objek Mahasiswa
mhs = Mahasiswa("nurul", "220705027")
mhs.cetak_krs()

Mahasiswa nurul dengan NIM 220705027 telah mencetak KRS.

**Kelas Kedua: Lingkaran**

In [12]:
class Lingkaran:
    def __init__(self, radius):
        self.radius = radius

    def hitung_luas(self):
        return 6.10 * self.radius ** 2

## Objek Lingkaran
blt = Lingkaran(12)
print(f"Luas lingkaran: {blt.hitung_luas()}")

Luas lingkaran: 878.4

**Kelas Ketiga: Mobil**

In [14]:
class Mobil:
    def __init__(self, merk, tahun):
        self.merk = merk
        self.tahun = tahun

    def info_mobil(self):
        print(f"Mobil {self.merk} keluaran tahun {self.tahun}.")

## Objek Mobil
avanza = Mobil("honda crv ", 2024)
avanza.info_mobil()

Mobil honda crv  keluaran tahun 2024.

**Kelas Keempat: Buku**

In [16]:
class Buku:
    def __init__(self, judul, penulis):
        self.judul = judul
        self.penulis = penulis

    def deskripsi(self):
        print(f"Buku '{self.judul}' ditulis oleh {self.penulis}.")

## Objek Buku
buku1 = Buku("Architecture of Love", "ika natassa")
buku1.deskripsi()

Buku 'Architecture of Love' ditulis oleh ika natassa.

**Kelas Kelima: Laptop**

In [17]:
class Laptop:
    def __init__(self, merk, harga):
        self.merk = merk
        self.harga = harga

    def spesifikasi(self):
        print(f"Laptop {self.merk} memiliki harga Rp{self.harga:,}.")

## Objek Laptop
laptop1 = Laptop("lenovo thinkpad", 15000000)
laptop1.spesifikasi()

Laptop lenovo thinkpad memiliki harga Rp15,000,000.